/* 
* @Author: anchen
* @Date:   2016-05-18 10:51:11
* @Last Modified by:   anchen
* @Last Modified time: 2016-05-24 15:18:16
*/
.content-registration {
    width: 100%;
    height: 100%;
    background: url("../images/au_1.png") 0 0 repeat;
}
.regcon {
    width: 1025px;
    margin: 0 auto;
    background-color: #ededec;
    opacity: 0.9;
}
/*.reg {
    width: 886px;
    margin: 0 auto;
}*/
.regcon h2 {
    overflow: hidden;
    width: 866px;
    height: 56px;
    margin: 0 auto;
    padding-top: 84px;
    background: url("../images/au_2.png") 0 0 no-repeat;
    background-position: 0px 126px;
    font-size: 30px;
    color: #404040;
}
.regcon h2 span {
    font-size: 33px;
    font-family: "MyriadPro";
    color: #c9cacb;
}
.cont {
    width: 710px;
    height: 748px;
    margin: 0 auto;
    padding: 20px 88px;
}
.cont h3 {
    margin-bottom: 24px;
    font-size: 22px;
    color: #dab866;
}
.cont table {
    width: 710px;
    height: 698px;
    color: #3f3f3f;
}
.cont tr {
    width: 710px;
}
.cont td input {
    float: left;
    width: 266px;
    height: 23px;
    outline: none;
}
.cont .adress {
    width: 625px;
}
.submit, .reset {
    width: 62px;
    height: 26px;
    background-color: #666666;
}
.submit, .reset:hover {
    background-color: #cfa972;
}
.button-add {
    width: 86px;
    height: 22px;
    margin-left: 30px;
    text-align: center;
    line-height: 22px;
    border: none;
    outline: none;
    background: url("../images/au_16.png") 0 0 no-repeat;
    cursor: pointer;
}
.txt {
    width: 100%;
    height: 97px;
    outline: none;
    resize: none;
}
.tit-a {
    width: 100px;
}
.tit-b {
    width: 229px;
}
.tit-c {
    width: 74px;
    text-align: right;
    padding-right: 10px;
}
.tit-d {
    width: 229px;
    height: 14px;
    text-align: right;
}
.tit-d div {
    float: left;
    width: 30px;
    height: 14px;
    background: url("../images/au_15.png") 0 0 no-repeat;
    font-family: sinson;

}
.tit-d .married {
    float: left;
    width: 42px;
    height: 14px;
    background: url("../images/au_15.png") 0 0 no-repeat;
    font-family: sinson;
}
.button button {
    float: left;
    width: 62px;
    height: 26px;
    margin-left: 20px;
    text-align: center;
    line-height: 26px;
    border: none;
    outline: none;
    background-color: #666666;
    font-family: sinson;
    color: #fff;
    cursor: pointer;
}
.button .submit, .button button:hover {
    background-color: #cfa972;
}