/* 
* @Author: anchen
* @Date:   2016-05-17 08:16:33
* @Last Modified by:   anchen
* @Last Modified time: 2016-05-20 16:50:33
*/
/* 顾客反馈 */
.content-feedback {
    width: 100%;
    height: 100%;
    background: url("../images/au_5.png") 0 0 repeat-x;
}
.feedbackcon {
    width: 1025px;
    height: 680px;
    margin: 0 auto;
}
.feedback {
    width: 1025px;
    height: 680px;
    margin: 0 auto;
}
.feedback h2 {
    overflow: hidden;
    width: 504px;
    height: 56px;
    padding-top: 84px;
    background: url("../images/au_4.png") 0 0 no-repeat;
    background-position: 0px 135px;
    font-size: 30px;
    color: #404040;
}
.feedback h2 span {
    margin-left: 40px;
    font-size: 33px;
    font-family: "MyriadPro";
    color: #c0bbc4;
}
.contact-form ul {
    position: relative;
    width: 460px;
    height: 508px;
    list-style-type: none;
    list-style-position: outside;
}
.contact-form li {
    height: 27px;
    margin-top: 20px;
}
.contact-form label {
    display: inline-block;
    float: left;
    width: 70px;
    margin-top: 3px;
    padding: 3px;
}
.contact-form input {
    width: 376px;
    height: 27px;
    outline-color: #c69055;
    opacity: 0.4;
}
.contact-form textarea {
    width: 378px;
    resize: none;
    opacity: 0.4;
    outline-color: #c69055;
}
.name {
    float: left;
    height: 27px;
}
.name label {
    float: left;
}
.name input {
    float: left;
    width: 136px;
    height: 27px;
}
.phone {
    float: right;
}
.phone label {
    float: left;
}
.phone input {
    float: left;
    width: 136px;
    height: 27px;
}
.contact-form .button {
    position: absolute;
    bottom: 110px;
    left: 78px;

}
.submit, .reset {
    float: left;
    width: 78px;
    height: 26px;
    margin-right: 14px;
    text-align: center;
    line-height: 26px;
    border: none;
    outline: none;
    background-color: #d7d5d4;
    cursor: pointer;
}
.button .submit, .reset:hover {
    background-color: #cc9962;
}