.fs-con {
	height: 632px;
	padding-top: 12px;
	background: url("../images/fa_02.png") repeat-x;
}
.fs-cons {
	width: 903px;
	height: 524px;
	margin: 0px auto;
	padding: 62px 27px 34px 90px;
	background: #fff;
}
.fs-cons dd {
	float: left;
	width: 422px;
}
.fs-cons dt {
	float: right;
	width: 479px;
	height: 544px;
	margin-top: -20px;
}
.fs-cons dt img {
	width: 479px;
	height: 544px;
}
.fs-cons h2 {
	height: 63px;
	font-size: 42px;
	border-bottom: 3px solid #e7e7e7;
}
.shop-con {
	height: 85px;
	padding: 18px 14px 22px 10px;
	border-bottom: 1px solid #e7e7e7;
}
.shop-con a {
	float: left;
}
.shop-con img {
	width: 90px;
	height: 78px;
}
.shop-con p {
	float: right;
	overflow: hidden;
	width: 280px;
	height: 82px;
	color: #404040;
}
.shop-other {
	overflow: hidden;
	width: 422px;
	padding: 40px 0 15px;
}
.shop-other div {
	width: 462px;
	height: 90px;
	border-bottom: 1px solid #e7e7e7;
}
.shop-other p {
	float: left;
	width: 185px;
	height: 55px;
	margin-right: 35px;
	padding-left: 10px;
	border-right: 1px solid #e7e7e7;
	line-height: 20px;
}
.shop-other span {
	display: block;
}
.shop-other strong {
	color: #ce6a14;
	margin-right: 10px;
}
.shop-more {
	height: 79px;
	padding: 10px 0 0 20px;
	border-bottom: 1px solid #e7e7e7;
}
.shop-more img {
	width: 100px;
	height: 66px;
	margin-right: 4px;
}
.shop-more p {
	height: 22px;
	margin-top: 40px;
	background: url("../images/icos.png") -491px -1px no-repeat;
}
.shop-more a {
	margin-left: 33px;
	color: #4a4a4a;
}