/* 
* @Author: anchen
* @Date:   2016-05-19 16:39:07
* @Last Modified by:   anchen
* @Last Modified time: 2016-05-19 20:09:50
*/
/* 会员优惠 */
.content-benefits {
    width: 100%;
    height: 100%;
    background: url("../images/vip_4.png") 0 0 no-repeat;
}
.benefits-con {
    width: 1020px;
    min-height: 680px;
    margin: 0 auto;
}
.ben-left {
    position: relative;
    float: left;
    width: 502px;
    height: 608px;
    padding-top: 72px;
}
.ben-left h2 {
    font-size: 20px;
    color: #c91710;
}
.ben-left span {
    font-size: 23px;
    color: #aa855b;
}
.right {
    position: absolute;
    top: 35px;
    right: -140px;
    width: 365px;
    height: 404px;
}
.rigt img {
    float: left;
    width: 365px;
    height: 404px;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 760px;
    height: 266px;
}
.bottom img {
    float: left;
    width: 760px;
    height: 266px;
}
.ben-right {
    float: right;
    width: 518px;
    height: 580px;
    padding-top: 100px;
}
.abstract {
    float: right;
    overflow: hidden;
    width: 362px;
    height: 374px;
}
.abstract p {
    line-height: 24px;
    font-size: 12px;
    color: #c91710;
}