/* 
* @Author: anchen
* @Date:   2016-05-17 00:58:00
* @Last Modified by:   anchen
* @Last Modified time: 2016-05-17 19:38:25
*/
/* 公司简介 */
.content-profile {
    width: 100%;
    height: 100%;
    background: url("../images/au_3.png") 0 0 repeat-x;
}
.profilecon {
    min-width: 1020px;
    min-height: 650px;
    margin: 0 auto;
}
.profilecon dl {
    width: 1020px;
    min-height: 650px;
    margin: 0 auto;
}
.profilecon dl dt {
    float: right;
    width: 512px;
    height: 438px;
    padding-top: 212px;
}
.profilecon dl dt img {
    float: left;
    width: 512px;
    height: 440px;
}
.profilecon dl dd {
    position: relative;
    float: left;
    width: 502px;
    height: 582px;
    padding-top: 68px;
}
.profilecon dl dd span {
    display: block;
    font-size: 23px;
    color: #fff;
}
.profilecon dd h2 {
    margin-top: 55px;
    font-size: 26px;
    color: #eb4f58;
}
.profilecon dd h3 {
    font-size: 26px;
    color: #eb4f58;
}
.business {
    overflow: hidden;
    width: 384px;
    height: 314px;
    margin-top: 25px;
}
.businesscon p {
    overflow: hidden;
    width: 384px;
    margin-top: 25px;
    line-height: 24px;
    font-size: 12px;
}
.profilecon .left {
    position: absolute;
    right: 160px;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/icos.png") -510px -555px no-repeat;
}
.profilecon .right {
    position: absolute;
    right: 120px;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/icos.png") -512px -605px no-repeat;
}