/***	nav strat    ***/
.wrap {
	min-width: 1020px;
}
.nav {
	height: 85px;
	background: #a60d73;
}
.navcon {
	width: 1020px;
	height: 85px;
	margin: 0 auto;
}
.navlist a span {
	position: absolute;
	display: none;
	top: 85px;
	left: 30px;
	width: 23px;
	height: 12px;
	background: url("../images/triangle.png") no-repeat;
	z-index: 3;
}
.navlist .active span {
	display: block;
}
.navlist {
	float: right;
}
.navlist a {
	float: left;
	position: relative;
	width: 83px;
	height: 85px;
	color: #e0e0e0;
	line-height: 85px;
	text-align: center;
	font-size: 15px;
}
.navlist .active {
	background: #b28850;
}
.navlist .active span {
	display: block;
}
.logo {
	float: left;
}
.logo a {
	float: left;
	width: 176px;
	height: 42px;
	margin-top: 21px;
	background: url("../images/icos.png") 0 -500px no-repeat;
}
.sin-chat {
	float: right;
	width: 70px;
	height: 25px;
	margin-top: 30px;
}
.sin-chat span, .sin-chat strong {
	float: right;
	width: 25px;
	height: 25px;
	margin-left: 10px;
}
.sin-chat span {
	background: url("../images/icos.png") 0 -399px no-repeat;
}
.sin-chat strong {
	background: url("../images/icos.png") -28px -399px no-repeat;
}

/***	content strat    ***/

/***	footer strat    ***/
.footer {
	height: 39px;
}
.footcon {
	width: 1020px;
	height: 39px;
	margin: 0 auto;
}
.footcon div {
	float: left;
	width: 255px;
	color: #ec9c72;
}
.footcon div span {
	float: left;
	width: 50px;
	line-height: 39px;
}
.footcon div strong {
	float: right;
	width: 182px;
	margin-left: 18px; 
	line-height: 39px;
	font-size: 18px;
	font-weight: bold;
} 
.footcon p {
	float: right;
	width: 294px;
	line-height: 39px;
}
.footcon p a {
	margin-right: 5px;
}
.footcon p strong {
	padding-left: 10px;
	border-left: 1px solid #000;
}