.content-ic {
	position: relative;
	height: 644px;
	background: url("../images/ic_02.png");
}
.ic-con {
	position: absolute;
	top: 20%;
	height: 320px;
}
.content-ic h3 {
	padding-top: 74px;
	margin-left: 204px;
}
.content-ic h3 strong {
	color: #c91710;
	font-size: 20px;
}
.content-ic h3 span {
	margin-left: 16px;
	color: #aa855b;
	font-size: 23px;
}
.book {
	position: relative;
	width: 960px;
	height: 446px;
	margin: 0 auto;
	margin-top: 42px;
}
.book img {
	width: 960px;
	height: 446px;
}
.book p {	
	position: absolute;
	top: 0;
	left: 48%;
	width: 34px;
	height: 446px;
	background: url("../images/icos.png") -960px -500px no-repeat;
}
.book-btn {
	width: 940px;
	height: 45px;
	margin: 0 auto;
	padding-right: 20px;
}
.book-btn p {
	float: right;
	margin-left: 150px;
	line-height: 45px;
}
.book-btn span, .book-btn strong {
	margin-left: 30px;
}
.page {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	width: 0px;
	height: 446px;
	border-left: 1px solid #ccc;
}
.page img{
	width: 480px;
	height: 446px;
}
.black {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 446px;
}