@charset "utf-8";
/*store-home*/
.store-home a {
    float: left;
    margin-left: 30%;
}
.store-home .share {
    float: left;
    margin-left: 29%;
}
/*store-home-main*/
.store-home-main {
    padding: 4rem 0 4rem;
}
/*store-home-pic*/
.store-home-pic {
    width: 100%;
    height: 9.43rem;
    padding-top: 1.36rem;
    background: url('../images/stroe-bg.jpg') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}
.store-home-pic a {
    display: block;
    width: 19%;
    height: 5rem;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 50%;
}
.store-home-pic img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.stroe-nav {
    width: 100%;
    height: 3.14rem;
    background: #fff;
    line-height: 3.14rem;
}
.stroe-nav a {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #bbb;
}
.stroe-nav-bottom {
    float: left;
    width: 50%;
    height: 0.11rem;
    background: #e60012;
}
.stroe-main .list-shop-con {
    padding: 0 4%;
    margin: 1.07rem 0;
}
.stroe-main .list-search {
    width: 99%;
    margin-top: 1.07rem;
} 
.stroe-main .list-shop-con section {
    width: 48%;
    margin: 0 4% 1.07rem 0;
}
.stroe-main .list-shop-con .stroe-list {
    margin-right: 0;
}